<section>
	{{#if post}}
		<div class='post-header'>
			<h2>{{post.title}}</h2>
			<p>{{post.created_at}}</p>
			<p>{{author.username}}</p>
		</div>
		<p>{{post.content}}</p>
	{{/if}}

</section>
<section class='comments-section'>
	<h2>Comments</h2>
	{{#if loggedIn}}
		<div class='add-comment'>
			<input id='comment-body' type='text' data-post-id='{{post.id}}' placeholder='Comment' />
			<button id='add-comment-button'>Add Comment</button>
		</div>
	{{/if}}
	{{#if comments}}
		<ul class='comments-ul'>
			{{#each comments as |comment|}}
				<li class='comments-li'>
					<div class='comment-header'>
						<p>{{comment.user_id}}</p>
						<p>{{comment.created_at}}</p>
					</div>
					<p>{{comment.comment}}</p>
				</li>
			{{/each}}
		</ul>
	{{/if}}
</section>